<section>
    <div class="technologyContainer">
        <ul class="listNews">
            <li class="post" *ngFor="let post of listPostsTechnology" >
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{listPostsTechnology.title}}</mat-card-title>
                      <mat-card-subtitle>{{listPostsTechnology.section}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                       {{listPostsTechnology.abstract}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button (click)="openBottomSheet()">Read more</button>
                    </mat-card-actions>
                  </mat-card>
            </li>
        </ul>
    </div>
</section>
