.post {
  grid-area: card;
}

.scienceContainer{
  // display: grid;
  // grid-template-columns: 25% 25% 25% 25%;
  // grid-template-rows: auto;
  // grid-template-areas: "card card card card";
  

  display: flex;
  justify-content: center;

  ul{
      list-style: none;
  }
  
  .post{
      max-width: 75%;
      box-shadow: 0.5rem 0.2rem 0.3rem #ccc;
      margin-bottom: 1rem;
  }
}

mat-card::ng-deep :hover{
  color: #FF7D1A;
  font-weight: 400;
}

button::ng-deep{
  background: #FF7D1A;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  border-radius: 0.5rem;
  border: 1px solid #caca;
  box-shadow: 0.25rem 0.25rem 0.75rem #ccc;

}

button::ng-deep :hover{
  background: #42C6E3;
  color: #fff;
}